<div class="container">
	<div class="hero-unit">

		<h2> <%= @user.name %>'s Profile</h2>
	
		<% if @user.posts.count > 0 %>
			<% @posts = @user.posts.all %>
			<% @posts.each do |post| %>
			<ul>
				<h3><%= link_to post.title, post_path(post.id), {:action => "show"} %></h3> 
			<!-- <%= link_to "edit", post_path(post.id), {:action => "edit"} %> | 
			<%= link_to "delete", post_path(:id) %> -->
			</ul>
			<% end %>
		<% end %>
	</div>
</div>