
<%= form_tag search_path, :method => 'get', :url => { :action => "search" } do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :title => nil %>
	</p>
<% end %>

<div class="row">
				<div class="span16">
					<form>
					                <fieldset> 
					                    <div class="clearfix"> 
					                        <div class="input"> 
					                            <input class="xlarge" type="text" placeholder="Enter a hobby"/> 
					                        </div> 
					                    </div> 
					                    <div class="clearfix"> 
					                        <div class="input"> 
					                            <input type="text" placeholder="City,State or Zip"/> 
					                        </div> 
					                    </div> 
					                    <div class="actions"> 
					                        <button class="btn primary">Search</button> 
					                    </div> 
					                </fieldset> 
					            </form>
				</div> <!-- end of div span12 -->
</div> <!-- end of div row -->

