
<h2>My profile</h2>
<% if current_user.posts.count > 0 %>
		<p> Post count: <%= current_user.posts.count %> </p>
		<p> Teach posts: </p>
		<% @posts = current_user.posts.all %>
		<% @posts.each do |post| %>
			<%= link_to post.title, post_path(post.id), {:action => "show"} %> | 
			<%= link_to "edit", post_path(post.id), {:action => "edit"} %> | 
			<%= link_to "delete", post_path(:id) %><br>
		<% end %>
<% end %>