<div class="container">
	<div class="hero-unit">
		<h1>My Profile</h1>
	</div>		
</div>

<div class="container">
<% if current_user.posts.count > 0 %>
		<p><h2>You have <%= current_user.posts.count %> posts.</h2></p>
		<% @posts = current_user.posts.all %>
		<% @posts.each do |post| %>
		<ul>
			<h3><%= link_to post.title, post_path(post.id), {:action => "show"} %></h3> 
			<!-- <%= link_to "edit", post_path(post.id), {:action => "edit"} %> | 
			<%= link_to "delete", post_path(:id) %> -->
		</ul>
		<% end %>
<% end %>
</div>
