<div class="container">
	<div class="hero-unit">
		<h3>Search Results</h3>

<% if @posts %>
	<% for post in @posts %>
		<h3><%= link_to post.title, post %></h3>
		<%= link_to post.user.name, new_profile_path(post.user.id), {:action => "show"} %>
	<% end %>
<% else %>
	<h3>Sorry! No teachers could be found!</h3>
<% end %>

</div>
