<div class="auth_provider_group">
  <p><strong>Sign in through:</strong></p>

<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "twitter_32.png", :size => "32x32", :alt => "Twitter" %>
  
</a>
<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "facebook_32.png", :size => "32x32", :alt => "Facebook" %>
  
</a>
</div>