<header>
        <%= image_tag("logo.png", :alt => "Sample App", :class => "round") %>
        <nav class="round">
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <% if current_user %>
				<li><%= link_to "Profile", '#' %></li>   
				<li><%= link_to "SignOut", signout_path, :method => :delete %></li>
			<% end %>         
          </ul>
        </nav>
</header>